out/
cache/
work/
packaging/hexagonrpcd/src/
workingdoc
vendor/pmos-oneplus-fajita/boot/*
vendor/pmos-oneplus-fajita/boot
vendor/pmos-compat-payload/
vendor/pmos-reference/
image-snapshots/*
!image-snapshots/README.md
*.img
*.img.xz
*.img.zst
*.simg
*.tar
*.tar.gz
*.tar.zst
*.pkg.tar.*
*.sha256
